.search-bar {
  padding: var(--padding-sm);
  border-radius: var(--radius-md);
  background-color: transparent;
  min-width: 200px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  background-color: var(--background);
  color: var(--text);
  border: 2px solid var(--border);
  font-size: var(--font-xl);
}
